<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nikunjpc.edapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InfoActivity" android:label="History"/>
        <activity
            android:name=".ProfileActivity"
            android:label="Profile"
            android:noHistory="true" />
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".StartActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Contact"
            android:label="Contact" />
        <activity
            android:name=".CourseList"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".AllFilesView"
            android:label="List of Files" />
        <activity android:name=".ViewPdf" />
        <activity
            android:name=".UploadActivity"
            android:label="Upload " />
        <activity
            android:name=".ClassList"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="Edu. Helper App"/>
    </application>

</manifest>